---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import Toolbar from '../components/Toolbar.astro';
import StickyNoteBar from '../components/StickyNoteBar.astro';
import SeeInAction from '../components/SeeInAction.astro';
import SaferInternetTools from '../components/SaferInternetTools.astro';
import OurToolsHelpEveryone from '../components/OurToolsHelpEveryone.astro';
import WhatGroundsUs from '../components/WhatGroundsUs.astro';
import Newsletter from '../components/Newsletter.astro';
import Footer from '../components/Footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Toolbar /> -->
	<h1 class="sr-only">CIB Mango Tree Homepage</h1>
	<Welcome />
	<StickyNoteBar />
	<SeeInAction />
	<SaferInternetTools />
	<OurToolsHelpEveryone />
	<WhatGroundsUs />
	<Newsletter />
	<Footer />
</Layout>
