---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import SeeInAction from '../components/SeeInAction.astro';
import SaferInternetTools from '../components/SaferInternetTools.astro';
import OurToolsHelpEveryone from '../components/OurToolsHelpEveryone/OurToolsHelpEveryone.astro';
import WhatGroundsUs from '../components/WhatGroundsUs.astro';
import CallToAction from '../components/CallToAction.astro';
import Newsletter from '../components/Newsletter.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<h1 class="sr-only">CIB Mango Tree Homepage</h1>
	<Welcome />
	<SeeInAction />
	<SaferInternetTools />
	<OurToolsHelpEveryone />
	<WhatGroundsUs />
	<CallToAction />
	<Newsletter />
	<Footer />
</Layout>
