---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <h1 class="font-bold text-4xl md:text-5xl lg:text-6xl mb-10 leading-tight">
    CIB Mango Tree Website Privacy Policy
  </h1>
  <p>
    This privacy policy will explain how our organization uses the personal data
    we collect from you when you use our website.<br />
    <br />
    Topics:<br />
    - What data do we collect?<br />
    - How will we use your data?<br />
    - How do we store your data?<br />
    - Do we use cookies?<br />
    - Privacy policies of other websites<br />
    - Changes to our privacy policy<br />
    - How to contact us?<br />
    <br />
    What data do we collect?<br />
    For users who opt in to our newletter, we save you email address.<br />
    <br />
    How will we use your data?<br />
    We will use your email address to inform you of updates to CIB Mango Tree tools
    and for outreach purposes. <br />
    <br />
    How do we store your data?<br />
    We use Mailchimp to manage our newsletters and email lists.<br />
    <br />
    Do we use cookies?<br />
    No, we do not use cookies.<br />
    <br />
    How to delete your data?<br />
    If you no longer wish to be part of our email list, please contact us.<br />
    <br />
    Privacy policies of other websites<br />
    The CIB Mango Tree website contains links to other websites. Our privacy policy
    applies only to our website, so if you click on a link to another website, you
    should read their privacy policy.<br />
    <br />
    Changes to our privacy policy<br />
    CIB Mango Tree keeps its privacy policy under regular review and places any updates
    on this web page. This privacy policy was last updated on 25 February 2026.<br
    />
    <br />
    How to contact us?<br />
    If you have any questions about CIB Mango Tree's privacy policy, the data we hold
    on you, or you would like to exercise one of your data protection rights, please
    do not hesitate to contact us.<br />
    Email us at: cibmangotree@proton.me
  </p>
  <Footer />
</Layout>
