<section
  class="flex flex-col justify-center items-center py-16 px-8 md:px-12 bg-mango-yellow gap-y-10"
>
  <h2 class="font-bold text-2xl md:text-3xl text-primary text-center">
    Subscribe to our Newsletter
  </h2>
  <form class="grid grid-cols-[1fr_10rem] gap-2 overflow-visibl w-3xl">
    <input
      type="email"
      placeholder="Enter your email"
      class="px-5 py-4 bg-white border-2 border-color text-primary placeholder-text-light transition-[border-color,box-shadow] duration-300 ease-default outline-none hover:border-[#8bbf72] hover:shadow-[0_0.25rem_0.75rem_rgba(139,191,114,0.15)] focus:border-[#5a8a4a] focus:shadow-[0_0_0_0.25rem_rgba(90,138,74,0.15)] focus:scale-101"
      required
    />
    <button
      type="submit"
      class="inline-flex justify-self-start w-max justify-center items-center relative group overflow-hidden cursor-pointer transition-all duration-300 ease-default shadow-[0_0.25rem_0.75rem_rgba(90,138,74,0.2)] bg-mango-green-dark text-white pl-8 pr-8 py-4 font-semibold glass-shine-20 hover:bg-[#4a7a3a] hover:shadow-[0_0.50rem_1.50rem_rgba(90,138,74,0.35)] hover:pr-14"
    >
      <span>Subscribe</span>
      <div
        class="absolute right-4 opacity-0 transition-all duration-300 ease-default group-hover:opacity-100 group-hover:animate-bounce-x"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <path d="M5 12h14m-7-7l7 7-7 7"></path>
        </svg>
      </div>
    </button>
  </form>
</section>
