---
import mango_tree from '../assets/mangotreesway.gif';
---

<section>
    <div class="flex">
        <div class="w-1/2">
        <div>Tools for a safer internet</div>
        <div>
            CIB Mango Tree is a growing library of tools designed to detect signs of coordinated 
            inauthentic behavior. It runs locally on your computer through an interactive 
            command-line interface. Instead of scraping data, our programs analyze datasets of 
            social media activity that you provide to identify abnormal online activity.
        </div>
    </div>
<img src={mango_tree.src} alt="" class="w-1/2"/>
    </div>
</section>