---
import cli_screenshot from '../assets/cliscreenshot.png';
---

<section>
    <div class="bg-[#C8F0F1] text-center p-10">
		<h2 class="pb-10 text-3xl">See it in Action</h2>
		<img class="m-auto" src={cli_screenshot.src} alt="Screenshot of the CIB Mango Tree CLI" />
		<div class="flex justify-center mt-10">
			<div class="w-[600px] text-left pr-2">
				CIB Mango Tree makes social media bot detection simple for everyone. 
				It begins with easy-to-run tests, the “low-hanging fruit,” that help reveal 
				clear signs of unsophisticated coordinated inauthentic behavior (CIB) 
				in social media and online data.
			</div>
			<div class="w-[600px] text-left pl-2">
				As you move up the Mango Tree, our tests become more advanced,
				 helping experienced users tackle deeper, more complex cases of manipulation
			</div>
		</div>
		
	</div>
     <div class="bg-[#C8F0F1] h-32" style={{
        clipPath: 'ellipse(70% 70% at top)',
        WebkitClipPath: 'ellipse(70% 70% at top)'
        }
    }>
    </div>
</section>