---
import Button from "./Button.astro";
import Download from "./Download.astro";
import logo from '../assets/logo.png';
---

    <div class="bg-mango-green w-full h-fit top-0 z-50 sticky flex justify-between">
       <Button href="/">
            <img src={logo.src} alt="" class="brand__img" />
        </Button>

        <nav id="toolbar-nav" class="nav" role="navigation" aria-label="Main">
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/docs">Documentation</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a class="cta" href="/get-involved">Get Involved</a></li>
                <li><Download /></li>
            </ul>
        </nav>
    </div>