---
import mangoAnimation from "../assets/mango_animation.gif";
import Download from "./Download.astro";
---

<div id="container">
	<main>
		<section id="hero" class="bg-white flex px-10">
			<div class="justify-center content-center">
				<div class="font-extrabold text-3xl py-[25px]">
					Harvest Knowledge. Share the Fruit. Defend Democracy.
				</div>
				<div class="text-lg py-[25px]">
					An open-source library to detect and analyze coordinated
					inauthentic behavior online
				</div>
				<Download />
			</div> 
			<img class="transform scaleX(-1)" src={mangoAnimation.src} alt="" />
		</section>
	</main>
</div>
